html,
body {
  height: 100%;
  background-image: linear-gradient(-60deg, #7b68ee, #f5a357);
  color: #d2e2d4;
  font-family: sans-serif;
}

#main-container {
  display: grid;
  height: 50%;
  align-items: flex-end;
}

h2 {
  color: #a32d5e;
  text-align: center;
  font-weight: bold;
}

button {
  margin: auto;
  background-color: #e6bcc3;
  font-weight: bold;
  color: #1f1cb9;
  font-family: sans-serif;
  border: solid #dbe8e3;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

p,
li {
  margin: auto;
  text-align: center;
  width: 25%;
  color: #1f1cb9;
}

#farewell-container {
  margin: auto;
  text-align: center;
  width: 40%;
  display: none;
}

.farewell-message {
  color: black;
  font-weight: bolder;
}

#stat {
  color: #a32d5e;
  margin: auto;
  text-align: center;
  width: 40%;
  font-weight: bold;
}

#result {
  color: #1f1cb9;
  background-color: #e6bcc3;
  padding: 50px;
}

th {
  background-color: #d86988;
  color: white;
}
